@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
  --forestgreen: rgb(34,139,34);
  --junglegreen: rgb(41,171,135);
  --green: rgb(76,187,23);
  --rainforest: rgb(0, 117, 94);
  --myrtle: rgb(49, 120, 115);
  --persian: rgb(0, 166, 147);
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

 h2, h3 {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

blockquote{
  font-family: 'Lucida Sans Regular', 'Lucida Grande';
  font-weight: 800;
  font-style: normal;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

h1{
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: clamp(1.2em, 1vw, 3em);
  font-weight: 400;
  margin: 0px;
  padding: 10px;
  text-align: justify;
}

h1 > .magic {
  display: inline-block;
  position: relative;
}

h1 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--green),
    var(--forestgreen),
    var(--green),
    var(--junglegreen),
    var(--myrtle),
    var(--rainforest),
    var(--persian),
    var(--forestgreen),
    var(--junglegreen)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  head{
    background: var(--dark-bg);
    grid-column: 3 / span 6;
    font-size: 3rem;
    padding: 2.5rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: white;    
    font-size: 5rem;
    display: inline;
    line-height: 1;
  }  
  

  .left {
    grid-column: 6 / 12;
  }
  .right {
    grid-column: 2 / 6;
  }